body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: blueviolet;
}
h1 {
    color: aquamarine;
    width: 70px;
    background-color: red;
}
header {
    background-color: ghostwhite;
}